* {
    margin: 0;
    padding: 0;
}

#cabecalho {
    width: 100%;
    align-items: center;
    border-bottom: 15px solid white;
}

#titulo .heading {
    text-align: center;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    margin: auto;
}

.heading a {
    text-decoration: none;
    color: white;
}

#titulo {
    background-color: #e47833;
    height: 140px;
    display: flex;
}

#body-container nav {
    margin-bottom: 20px;
}

#body-container nav ul {
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
    
}

#body-container nav ul a {
    text-decoration: none;
}

#body-container nav ul a li {
    padding: 10px;
    width: 40%;
    text-align: center;
    border-left: 2px solid black;
    color: black;
    font-size: 20px;    
    background-color: white;
    margin: 10px auto 10px auto;
}

#body-container nav ul a li:hover {
    background-color: rgba(228, 120, 51, 0.6);
}

body {
    background-color: #2e3131;
}

#body-container {
    margin-top: 50px;
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
