* {
    margin: 0;
    padding: 0;
}

#cabecalho {
    width: 100%;
    align-items: center;
}

#titulo {
    display: flex;
}

#titulo .heading {
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 40%;
    margin: auto;
}

.heading a {
    text-decoration: none;
    color: white;
}

#titulo {
    background-color: #e47833;
    height: 180px;
}

#cabecalho nav ul {
    width: 100%;
}

#cabecalho nav ul {
    display: flex;
    list-style: none;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;

}

#cabecalho nav ul a {
    padding: 10px;
    width: 20%;
    text-align: center;
    border-left: 2px solid black;
    text-decoration: none;
    color: black;
    font-size: 14px;    
}

#cabecalho nav ul a:hover {
    background-color: rgba(228, 120, 51, 0.6);
}

body {
    background-color: #2e3131;
}

#body-container {
    width: 80%;
    height: 600px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}
