.title {
    margin-top: 50px;
    font-family: sans-serif;
    color: white;
}

.title h2 {
    font-size: 60px;
}

.title p {
    font-size: 25px;
    margin-bottom: 8px;
}

.title .description {
    font-size: 20px;
    margin-bottom: 40px;
}

#body-container {
    text-align: center;
}